li {
    list-style: none;
}

.thumbnails > li {
	height: 425px;
}

.thumbnails > li div.description {
	height: 200px;
	overflow: auto;
}

body .full-modal {
    /* new custom width */
    width: 750px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -375px;
}