<div class="modal-header">
	<button class="close" data-dismiss="modal" class="close" aria-hidden="true"><i class="icon-remove"></i></button>
	<h3 id="my-modal-label">My Cart</h3>
</div>
<div class="modal-body">
	<table class="table table-bordered table-striped">
		<thead>
			<th>Product</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Subtotal</th>
			<th>Actions</th>
		</thead>
		<tbody id="cart-body"></tbody>
	</table>
</div>
<div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Continue Shopping</button>
    <button class="btn btn-primary">Checkout</button>
</div>